<!--Used to create an account, currently is not working.-->
<form action="../index.html">
	<div class="form-group">
		<label for="nameInput">Name</label>
		<input type="text" class="form-control" id="nameInput" aria-describedby="nameHelp" placeholder="Enter name">
	</div>
	<div class="form-group">
		<label for="emailInput">Email address</label>
		<input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp"
		       placeholder="Enter email">
	</div>
	<div class="form-group">
		<label for="passwordInput">Password</label>
		<input type="password" class="form-control" id="passwordInput" placeholder="Password">
	</div>
	<div class="form-group">
		<label for="locationInput">Location</label>
		<input type="text" class="form-control" id="locationInput" aria-describedby="emailHelp"
		       placeholder="Enter location">
	</div>
	<div class="form-group">
		<label for="primaryInput">Primary</label>
		<input type="text" class="form-control" id="primaryInput" aria-describedby="emailHelp"
		       placeholder="Enter phone number">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
